*{
    margin: 0;
    padding: 0;
    text-align: center;
}
body{
    background-image: url("bgimg.jpg");
    background-size: cover;
}
h1{
    
    font-size: 50px;
    text-shadow: 
        0px 4px 10px rgba(0,0,0,0.8),
        0px 0px 20px rgba(255,255,255,0.3);
    
    color: white;
    height: 5rem;
    line-height: 5rem;
}
.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    transform: scale(1.1);
    transition: 0.3s;
    background-color: #081b31;
    cursor: pointer;
}

img{
    height: 150px;
    width: 150px;
    object-fit: contain;
    border-radius: 50%;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.scoreBoard{
    
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin: 3rem;
    gap: 5rem;
}

#userScore, #computerScore{
    font-size: 4rem;
}
.msg-container{
    margin-top: 5rem;
}



#msg{
    background-color: #081b31;
    color: white;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}